*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  background: #f6f6f6;
  height: calc(100% - 100px);
}

#root,
.App {
  height: 100%;
}

a {
  text-decoration: none;
}

.active {
  color: #a264ff;
  font-weight: bold;
  background: #e9daff;
}

.active--filter {
  color: #a264ff;
  font-weight: bold;
}

.ducktaped-chakra-react-link {
  cursor: pointer;
  transition: all 0.15s ease-out;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 1rem 3rem;
}

.ducktaped-chakra-react-link:hover {
  color: #a264ff;
  font-weight: bold;
  background: #e9daff;
}
