@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,300&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  word-break: break-all;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Source Sans Pro";
  background: #f6f6f6;
  height: calc(100% - 100px);
}

.App {
  height: 100%;
}

a {
  text-decoration: none;
}

.active {
  color: #a264ff;
  font-weight: bold;
  background: #e9daff;
}

.active--filter {
  color: #a264ff;
  font-weight: bold;
}

.ducktaped-chakra-react-link {
  cursor: pointer;
  transition: all 0.15s ease-out;
  text-decoration: none;
  outline: none;
  display: block;
  padding: 1rem 3rem;
}

.ducktaped-chakra-react-link:hover {
  color: #a264ff;
  font-weight: bold;
  background: #e9daff;
}

.question-active {
  border-color: #a264ff !important;
}

.fade-appear,
.fade-enter {
  opacity: 0;
  z-index: 5;
}

.fade-appear-active,
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 700ms linear 250ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
  opacity: 0;
  transition: opacity 0ms linear;
}
